<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>$(IOS_EXPORT_METHOD)</string>
	<key>teamID</key>
	<string>$(APPLE_TEAM_ID)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>$(IOS_BUNDLE_ID)</key>
		<string>$(IOS_PROVISIONING_PROFILE_NAME)</string>
	</dict>
</dict>
</plist>
